<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <script src="views/scripts/mp_utilities.js"></script>
</head>
<body>
    <script>
        //debugger;
        var s = getQueryStringByName("sid");
        console.log(s);
    </script>
    <table>
        <tr>
            <td class ="tdTitle01">
                公司：
            </td>
            <td>
                <label></label>
            </td>
        </tr>
        <tr>
            <td class ="tdTitle01">
                電話：
            </td>
            <td>
                <label></label>
            </td>
        </tr>
        <tr>
            <td class="tdTitle01">
                住址：
            </td>
            <td>
                <label></label>
            </td>
        </tr>
    </table>
</body>
</html>
