<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>MPERP2015</title>
    <!-- lib css -->
    <link href="lib/bootstrap-3.3.4/css/bootstrap.min.css" rel="stylesheet" />
    <link href="lib/metisMenu/metisMenu.min.css" rel="stylesheet" />
    <link href="lib/SDAdmin2/dist/css/sb-admin-2.css" rel="stylesheet" />
    <link href="lib/font-awesome-4.3.0/css/font-awesome.min.css" rel="stylesheet" />

    <!-- Kendo UI -->
    <link href="lib/Kendo/styles/kendo.common.min.css" rel="stylesheet" />
    <link href="lib/Kendo/styles/kendo.silver.min.css" rel="stylesheet" />
    <link href="lib/Kendo/styles/kendo.dataviz.min.css" rel="stylesheet" />
    <link href="lib/Kendo/styles/kendo.dataviz.silver.min.css" rel="stylesheet" />


</head>
<body>

    <!-- lib -->
    <script src="lib/jQuery/jquery-2.1.4.min.js"></script>
    <script src="lib/bootstrap-3.3.4/js/bootstrap.min.js"></script>
    <script src="lib/metisMenu/metisMenu.min.js"></script>
    <script src="lib/SDAdmin2/dist/js/sb-admin-2.js"></script>
    <script src="lib/js.cookie/js.cookie.js"></script>

    <!--Kendo UI-->
    <script src="lib/Kendo/js/kendo.all.min.js"></script>

    <!--MP-->
    <script src="scripts/mp_utilities.js"></script>
    <script src="scripts/globals.js"></script>

    <h1 class="page-header">功能選單</h1>

    <input id="NodeText" class="k-textbox" />
    <button class="k-button" onclick="updateNode();">更新</button>    
    <button class="k-button" onclick="addNode();">新增</button>
    <button class="k-button" onclick="removeNode();">刪除</button>    
    <div id="treeview"></div>

    <script>
        
        var menus_apiUrl = "/api/Menus";
        var menusJSON_apiUrl = "/api/Menus/Json";
        var menus_HdataSource = new kendo.data.HierarchicalDataSource({
            transport: {
                read: {
                    url: menusJSON_apiUrl,
                    dataType: "json"
                }
            },
            schema: {
                model: {
                    id: "id",
                    hasChildren: "hasChildren",
                    children: "subMenus"
                }
            }
        });

        $("#treeview").kendoTreeView({
            dataSource: menus_HdataSource,
            dataTextField: "text",
            dragAndDrop: true,
            change: function () {
                var selectedDataItem = getDataItem(this.select());
                $("#NodeText").val(selectedDataItem.text);
            },
            drop: function(e) {
                var source = getDataItem(e.sourceNode);
                var destination = getDataItem(e.destinationNode);;

                console.log(source.id + " -> " + destination.id);
                console.log(source.text + " -> " + destination.text);

                source.parentId = destination.id;
                $.ajax({
                    type: "PUT",
                    url: menus_apiUrl + "/" + source.id,
                    data: JSON.stringify(source),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data, status, jqXHR) {
                        //alert("PUT success..." + data);
                    },
                    error: function (xhr) {
                        alert(xhr.responseText);
                    }
                });

            }
        });

        function getDataItem(treeNode) {
            var treeview = $("#treeview").data("kendoTreeView");
            var uid = $(treeNode).data("uid");
            return treeview.dataSource.getByUid(uid);
        }

        function addNode() {
            var treeview = $("#treeview").data("kendoTreeView");
            var selectedNode = treeview.select().length == 0 ? null : treeview.select();
            var parentId = selectedNode == null ? 0 : getDataItem(treeview.select()).id;

            var newNode = {
                "id":0,
                "text": $("#NodeText").val(),
                "parentId": parentId,
                "hasChildren":false
            };

            $.ajax({
                type: "POST",
                url: menus_apiUrl,
                data: JSON.stringify(newNode),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data, status, jqXHR) {
                    //alert("success..." + data);
                    treeview.append(newNode, selectedNode); //selectedNode = null則加到root group
                },
                error: function (xhr) {
                    alert(xhr.responseText);
                }
            });            
        }

        function removeNode() {
            var treeview = $("#treeview").data("kendoTreeView");
            var selectedNode = treeview.select().length == 0 ? null : treeview.select();
            
            if (selectedNode==null) 
                return;

            var selectedDataItem = getDataItem(treeview.select());
            $.ajax({
                type: "DELETE",
                url: menus_apiUrl + "/" + selectedDataItem.id,
                dataType: "json",
                success: function (data) {
                    //alert("successs.... " + data);
                    treeview.remove(selectedNode);
                },
                error: function (xhr) {
                    alert(xhr.responseText);
                }
            });
            
        }

        function updateNode() {
            var treeview = $("#treeview").data("kendoTreeView");
            var selectedNode = treeview.select().length == 0 ? null : treeview.select();

            if (selectedNode == null)
                return;

            var selectedDataItem = getDataItem(treeview.select());
            selectedDataItem.text = $("#NodeText").val();
            $.ajax({
                type: "PUT",
                url: menus_apiUrl + "/" + selectedDataItem.id,
                data: JSON.stringify(selectedDataItem),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data, status, jqXHR) {
                    //alert("PUT success..." + data);    
                    //selectedNode.text(data.text);
                    treeview.dataSource.read();
                },
                error: function (xhr) {
                    alert(xhr.responseText);
                }
            });
        }
    </script>


</body>
</html>
