<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MPERP2015</title>
    <!-- Bootstrap Core CSS -->
    <link href="/SDAdmin2/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- MetisMenu CSS -->
    <link href="/SDAdmin2/bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/SDAdmin2/dist/css/sb-admin-2.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="/SDAdmin2/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Kendo UI -->
    <link rel="stylesheet" href="http://cdn.kendostatic.com/2015.1.429/styles/kendo.common.min.css" />
    <link rel="stylesheet" href="http://cdn.kendostatic.com/2015.1.429/styles/kendo.silver.min.css" />
    <link rel="stylesheet" href="http://cdn.kendostatic.com/2015.1.429/styles/kendo.dataviz.min.css" />
    <link rel="stylesheet" href="http://cdn.kendostatic.com/2015.1.429/styles/kendo.dataviz.silver.min.css" />
</head>
<body>

    <!-- jQuery -->
    <script src="/SDAdmin2/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="/SDAdmin2/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Metis Menu Plugin JavaScript -->
    <script src="/SDAdmin2/bower_components/metisMenu/dist/metisMenu.min.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="/SDAdmin2/dist/js/sb-admin-2.js"></script>

    <!--Kendo UI-->
    <script src="http://cdn.kendostatic.com/2015.1.429/js/kendo.all.min.js"></script>

    <!--mp_utilities-->
    <script src="../scripts/mp_utilities.js"></script>
    <!--JavaScript的全域變數-->
    <script src="../scripts/globals.js"></script>

    <script id="order-template" type="text/x-kendo-template">
        <h1 class="page-header">訂單編號: #:id #</h1>
        <div>
            <label for="customer_Id">客戶</label>:
            <input id="txtCustomer_Id" name="customer_Id" value="#: customer_Id #" />
        </div>
        <div>
            <label for="orderDate">下單日期</label>:
            <input type="text"
                   id="txtOrderDate"
                   name="orderDate"
                   value="#: orderDate #" />
        </div>
    </script>
    <div id="divOrder"></div>
    <div id="gridOrderDetails"></div>
    <input type="button" value="儲存" id="btnSave" />

    <script>

        var dsOrderById;
        var dsOrderDetails;
        var aryProducts=[];

        function fatchOrderById() {

            //var data = this.data();
            var order_template = kendo.template($("#order-template").html());
            $("#divOrder").html(order_template(dsOrderById.data()[0]));

            //var orderDetails = dsOrderById.data()[0].orderDetails;
            dsOrderDetails = new kendo.data.DataSource({
                data: dsOrderById.data()[0].orderDetails,
                update: function (e) {
                    // batch is enabled
                    var updateItems = e.data.models;
                    // batch is disabled
                    //var updatedItem = e.data;

                    // save the updated item to the original datasource
                    var index = getObjectIndexOfArray("product_Id", updateItems.product_Id, dsOrderById.data()[0].orderDetails);
                    if (index!=-1) {
                        //dsOrderById.data()[0].orderDetails[index].productName = 
                    }

                    // on success
                    e.success();
                    // on failure
                    //e.error("XHR response", "status code", "error message");
                },
                batch: true,
                schema: {
                    model: {
                            id: "id",
                            fields: {
                            id: { editable: false, nullable: false },
                            customer_Id: { validation: { required: true } },
                            timestampString: { editable: false }
                            }
                    }
                }
            });
            dsOrderDetails.read();

            dsProducts = new kendo.data.DataSource({
                transport: {
                    read: {
                        async: false,
                        url: "/api/products",
                        dataType: "json"
                    }
                }
            });
            dsProducts.fetch(function () {
                var data = this.data();
                for (var i = 0; i < data.length; i++) {
                    var product = {
                        value: data[i].id,
                        text: data[i].name
                    };
                    aryProducts.push(product);
                }
            });
            //dsProducts.read();

            $("#gridOrderDetails").kendoGrid({
                dataSource: dsOrderDetails,
                toolbar: ["create"],
                columns: [
                                {
                                    field: "product_Id", title: "產品",
                                    values: aryProducts,
                                    editor: function (container, options) {
                                        var input = $("<input />");
                                        // 這個輸入元素的name一定要設為此欄位的名稱
                                        input.attr("name", options.field); //即product_Id
                                        input.appendTo(container);
                                        input.kendoDropDownList({
                                            dataTextField: "text",
                                            dataValueField: "value",
                                            dataSource: aryProducts,
                                            change: function () {
                                                //var orderDetails = dsOrderById.data()[0].orderDetails;
                                                //for (var i = 0; i < orderDetails.length; i++) {
                                                //    if ((orderDetails[i].product_Id == this.dataItem().value) || (orderDetails[i].product_Id.value == this.dataItem().value)) {
                                                //        orderDetails[i].product_Id = this.dataItem().value;
                                                //        orderDetails[i].productName = this.dataItem().text;
                                                //        break;
                                                //    }
                                                //}
                                            }
                                        });
                                    }
                                },
                                { field: "quantity", title: "數量" },
                                { command: [{ name: "destroy", text: "刪除" }], title: "&nbsp;", width: "250px" }
                ],
                editable: true
            });
        }

        global_Order_Id = getQueryStringByName("order_id");
        var order_id = global_Order_Id; // getQueryStringByName("order_id");
        console.log("oid:" + global_Order_Id);

        if (order_id == "") {
            alert("請指定order_id!");
        } else {

            var apiUrl_Orders = "/api/orders";
            dsOrderById = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: apiUrl_Orders + "/" + order_id,
                        dataType: "json"
                    },
                    update: {
                        url: apiUrl_Orders + "/" + order_id,
                        type: "put",
                        contentType: "application/json",
                        dataType: "json"
                    },
                    destroy: {
                        url: apiUrl_Orders + "/" + order_id,
                        type: "delete",
                        dataType: "json"
                    },
                    create: {
                        url: apiUrl_Orders,
                        type: "post",
                        contentType: "application/json",
                        dataType: "json"
                    },
                    parameterMap: function (data, operation) {
                        if (operation == "create") {
                            data.id = 0;
                        }
                        if (operation != "read") {
                            return JSON.stringify(data.models[0]);
                        }

                    }
                },
                error: function (err) {
                    var message = (err.xhr.responseText == "") ? "" : JSON.parse(err.xhr.responseText).message + "\n";
                    alert(err.status + "\n" + message + "將重新載入資料!");
                    dsOrderById.fetch(fatchOrderById);
                },
                batch: true,
                schema: {
                    model: {
                        id: "id",
                        fields: {
                            id: { editable: false, nullable: false },
                            customer_Id: { validation: { required: true } },
                            timestampString: { editable: false }
                        }
                    }
                }
            });
            dsOrderById.fetch(fatchOrderById);

            $("#btnSave").click(function () {
                var order = dsOrderById.at(0);
                order.set("customer_Id", $("#txtCustomer_Id").val());
                order.set("orderDate", $("#txtOrderDate").val());
                var orderDetails = dsOrderById.at(0).orderDetails;
                dsOrderById.sync();
                $("#gridOrderDetails").data("kendoGrid").refresh();
            });
        }

    </script>

</body>
</html>
